body{
    background-color: rgb(7, 5, 5);
    color: rgb(243, 238, 238);
}

img{
    height: 50%;
    width: 50%;
}

img:hover{
    height: 50%;
    width: 50%;
    content: url(terror.webp);
}